# Intro List 

- Motivation: Holds multiple values
- non-primitive data type. because it can hold multiple values.
- Hold values of same data types
- dont mix data type
- mixing data types is possible but dont

- methods
  - **Create:** *list = [10 , 20 , 30 , 40]*
  - **Read:** *Index and slice*
  - **Update:** *index(mutate), append(), insert()*
  - **Delete** *remove() and pop()*

## setting up UV
1) uv venv
2) uv pip install ipykernel

In [26]:
mark1 = 80
mark2 = 90
mark3 = 70

In [27]:
marks = [80, 90, 70, 45, 95]  #list
print(marks, type(marks))

[80, 90, 70, 45, 95] <class 'list'>

In [28]:
values = [True, 'abc', 6]
print(values)

[True, 'abc', 6]

## Index
- positive and negative indexing works

In [29]:
marks = [80, 90, 70, 45, 95]  # list
print(marks[-1])
print(marks[4])

95
95

## Slice

In [30]:
marks = [80, 90, 70, 45, 95]
print(marks[1:])

[90, 70, 45, 95]

## Reverse through list

In [31]:
marks = [80, 90, 70, 45, 95]
print(marks[::-1])

[95, 45, 70, 90, 80]

## Concatenating lists (joining)

In [ ]:
fruits = ["🍎", "🍊", "🍐", "🍉", "🍇"]
vegetables = ["🥒", "🫑", "🍆", "🥕", "🍠"]

fruits + vegetables

['🍎', '🍊', '🍐', '🍉', '🍇', '🥒', '🫑', '🍆', '🥕', '🍠']

## Repetition operator (*)

In [33]:
vegetables * 2

['🥒', '🫑', '🍆', '🥕', '🍠', '🥒', '🫑', '🍆', '🥕', '🍠']

## Immutable vs Mutable 
mutable values can be changed and immutable values cannot be changed
### update

In [34]:
vegetables = ["🥒", "🫑", "🍆", "🥕", "🍠"]
len(vegetables)

5

In [36]:
marks = [80, 90, 70, 45, 95]

marks.insert(2, 55)
marks.append(100)
marks

[80, 90, 55, 70, 45, 95, 100]

## Remove items
pop and remove

In [ ]:
avengers = ["Hulk", "Iron man", "Black widow", "Captain america", "Spider man", "Thor"]

#pops the last value
#can also add an index to remove a specific value
avengers.pop()
#can do it in one go and remove by value
avengers.remove("Spiderman")

avengers

['Hulk', 'Iron man', 'Black widow', 'Captain america', 'Spiderman']

In [39]:
marks = [20, 30 , 40, 50, 80]

for i in range(len(marks)):
    print(marks[i])

20
30
40
50
80

## Task 1.1 

Find the letters in each characters name and stored in a new list
 
```py
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]
```
 
Output
[4, 8, 11, 15, 10, 4]

In [47]:
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

list = []

for i in range(len(avengers)):
    list.append(len(avengers[i]))
list

[4, 8, 11, 15, 10, 4]

## Task 1.2

Find longer names more the 10 letters name and stored in a new list
 
Output
["Black widow", "Captain america"]

In [ ]:
avengers = [
    "Hulk",
    "Iron man",
    "Black widow",
    "Captain america",
    "Spider man",
    "Thor",
]

list = []

for i in range(len(avengers)):

    if (len(avengers[i]) >= 10):
        list.append(avengers[i])

list

['Black widow', 'Captain america', 'Spider man']

## Task 2.1
 
Calculate the total of shopping_items & apply tax of 10%
 
```py
shopping_items = [1000, 5000,  4000, 2000, 3000]
```
 
 
Expected Output
 
```
Your total is R15000
Tax is 10%      R1500
Your grand total is R16500
```

In [52]:
shopping_items = [1000, 5000,  4000, 2000, 3000]
total = 0

for i in range(len(shopping_items)):
    total = total + shopping_items[i]

tax = total * 0.10
print(f"Your total is R{total} \nTax is 10%    R{tax} \nYour grand total is R{total + tax}")

Your total is R15000
Tax is 10%    R1500.0
Your grand total is R16500.0