In [3]:
m1, *t1, m2 = [80, 90, 70, 45, 95]

print(t1, type(t1))

[90, 70, 45] <class 'list'>

In [1]:
t1 = [100, 200]
t2 = [300,400]

t3 = t1 +t2.copy()
t1.extend(t2)
print(f"{t3} {t1}")

[100, 200, 300, 400] [100, 200, 300, 400]

In [2]:
t1 = [100, 200]
t2 = [300, 400]
t3 = [50, *t1, 80]

#also called unpacking operator

t3

[50, 100, 200, 80]

In [3]:
t1 = [100, 200]
t2 = [300, 400]

t3 = [*t1, *t2]
t3

[100, 200, 300, 400]

In [ ]:
t1 = (100, 200)
t2 = (300, 400)

t = t1 + t2
t3 = (10, *t1, 70, 90, *t2, 90)
t3

In [4]:
veggie = ([1, "🍎"], [2, "🍊"], [8, "🍐"])

veggie[1][0] = 10

veggie[2].append("🍊")
print(veggie)

([1, '🍎'], [10, '🍊'], [8, '🍐', '🍊'])

In [ ]:
student = {"name" : "Jamie", "age" : 20}
detail =

In [5]:
veggie = ([1, "🍅"], [2, "🥔"], [8, "🥕"])


veggie[1] = [10, "🥕"]  # Error
veggie[1] = "3"  # Error

TypeError: 'tuple' object does not support item assignment

In [2]:
student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA"}

all_details = {**student, **detail}  # ** -> unpacking operator

all_details

{'name': 'Jamie', 'age': 20, 'job': 'Sanlam', 'country': 'SA'}

In [7]:
student = {"name": "Jamie", "age": 20}
detail = {"job": "Sanlam", "country": "SA", "age" : 19}

all_details = {"country_code" : "+27", **student, **detail, "age" : 18}  # ** -> unpacking operator

all_details
#put least priority first

{'country_code': '+27',
 'name': 'Jamie',
 'age': 18,
 'job': 'Sanlam',
 'country': 'SA'}