# Falsy
- `if (..) :` converts value to boolean `bool(value)`
- Developers decided to make these things evaluate `False`.
- so, if `bool(...)` evaluates to `False`, it's `False`

1. `False`
2. `None`
3. `0`
4. `[]`
5. `""`
6. `{}`
7. `()`
8. `set()`

# Truthy

- If it's not on the above list, then it's true
- If a value converts to truth then its truthy

In [ ]:
x = []
if x:
    print("cool")
else:
    print("super")


"cool" if x else "super"

'super'

# Ternary Operator

`(if_true_output) if (condition) else (if_false_output)`

In [3]:
age = 10

#if age >= 18:
#    print("test")
#else:
#    print("come back later")

res = "test" if age >= 18 else "come back later"

employees = [
    {"name": "Chelo", "experience": 3},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 1},
]

In [8]:
employees = [
    {"name" :"Chleo", "experience" : 2},
     {"name": "Diyali"},
     {"name": "Luvuyo"},
     {"name": "Jevan", "experience": 1}
]

for employee in employees:
    employee["experience"] = employee.get("experience", 0) + 1

print(employees)

[{'name': 'Chleo', 'experience': 3}, {'name': 'Diyali', 'experience': 1}, {'name': 'Luvuyo', 'experience': 1}, {'name': 'Jevan', 'experience': 2}]

# Task 2.2
# Senior 5 or more, Mid-Level 3 to 5, Junior < 3
employees = [
    {"name": "Chelo", "experience": 4},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 2},
]
 
 
# Output
employees = [
    {"name": "Chelo", "experience": 5, "status": "Senior" },
    {
        "name": "Diyali", "status": "Junior",   "experience": 1
    },
    {
        "name": "Luvuyo", "status": "Junior",   "experience": 1
    },
    {"name": "Jevan", "status": "Mid-Level", "experience": 3},
]

In [ ]:
employees = [
    {"name": "Chelo", "experience": 4},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 2},
]

for employee in employees:
    employee["experience"] = employee.get("experience", 0) + 1

    experience = employee["experience"]

    if (experience >= 5):
        employee["Status"] = "Senior"

    elif (3 <= experience < 5):
        employee["Status"] = "Mid-Level"

    else:
        employee["Status"] = "Junior"

print(employees)

[{'name': 'Chelo', 'experience': 5, 'Status': 'Senior'}, {'name': 'Diyali', 'experience': 1, 'Status': 'Junior'}, {'name': 'Luvuyo', 'experience': 1, 'Status': 'Junior'}, {'name': 'Jevan', 'experience': 3, 'Status': 'Mid-Level'}]